<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Unit Converter</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/convert">Converter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unitList">Unities</a>
            </li>
        </ul>
    </nav>
</header>