h1{
    color: black;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.jumbotron{
    height: 100vh;
    background-image: url("/Watchtower-moon-mountains-forest-art-picture_1920x1080.jpg");
}

.jumbotron-fluid{
    background-color: lightblue;
    border-radius: 2px;
    height: 20vh;
}

.col{
    margin-bottom: 10%;
}

.inputValue{
    width: 420px;
    padding: auto;
    margin: auto auto 6%;

}

.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
}

.fa-arrows-h{
    font-size: 40px;
    margin-left: 35%;
    border:none;
    background-color: transparent;
    color: black;
}

.fa-arrows-h:hover{
    color: black;
    text-decoration: none;
}

.ulysse{
    color: black;
    font-weight: bold;
    font-size: 32px;
}

ul{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}