<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

    <meta name="description" content="The Dap trainning project admin" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Data Access Project" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>

    <title>Unit converter</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Unit Converter</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/convert">Converter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/unitList">Unities</a>
        </li>
    </ul>
</nav>

<div class="container">
    <form action="#" th:action="@{/saveUnit}" th:object="${unity}" method="post" style="margin-top: 10%">

        <div class="form-group">
            <label for="unitDef">Definition</label>
            <input type="text" th:field="*{definition}" class="form-control" id="unitDef">
            <span th:if="${#fields.hasErrors('definition')}" th:errors="*{definition}"></span>
        </div>

        <div class="form-group">
            <label for="unitSymbole">Symbole</label>
            <input type="text" th:field="*{symbole}" class="form-control" id="unitSymbole">
            <span th:if="${#fields.hasErrors('symbole')}" th:errors="*{symbole}"></span>
        </div>

        <input type="submit" value="Add Unity" class="btn btn-info">
    </form>

</div>

</body>
</html>