<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />

    <meta name="description" content="The Dap trainning project admin" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Data Access Project" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}"/>

    <title>Unit converter</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Unit Converter</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/convert">Converter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/unitList">Unities</a>
        </li>
    </ul>
</nav>

<div class="container">
    <table class="table" style="margin-top: 10%">
        <thead class="thead-dark">
        <tr>
            <th scope = "col">Id</th>
            <th scope="col">Definition</th>
            <th scope="col">Symbole</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${unities == null}">
            <td colspan="2"> No Unity Available </td>
        </tr>
        <tr th:each="unit : ${unities}">
            <th scope="row" th:text="${unit.id}"></th>
            <td th:text="${unit.definition}"></td>
            <td th:text="${unit.symbole}"></td>
            <td><a class="btn btn-info" th:href="@{/edit/{id}(id=${unit.id})}">edit</a></td>
            <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${unit.id})}">delete</a></td>
        </tr>
        </tbody>
    </table>

    <a href="/addUnit" class="btn btn-info">Ajout d'une unité</a>

</div>

</body>
</html>