<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="layout/Head.html :: head"></head>
<body>
<header th:insert="layout/Navbar.html :: header"></header>
<div class="jumbotron">
    <h1 style="color: white">WELCOME ON UNIT CONVERTER</h1>
    <div class="container justify-content-center">
        <div class="row justify-content-center" style="margin-top: 35%">
            <div class="col-sm-4">
                <div class="card other-card">
                    <div class="card-body">
                        <p class="card-text">Utilise le converter</p>
                        <p class="card-text">Tu vas t'éclater !</p>
                        <a href="/convert" class="btn btn-primary">Go converter !</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card special-card">
                    <div class="card-body">
                        <p class="card-text" style="color: black;">Consulte la liste des unités !</p>
                        <p class="card-text">Invente, modifie !</p>
                        <a href="/unitList" class="btn btn-primary">Consulte la liste des unités</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>